body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-text);
    font-weight: 300;
    font-size: var(--body-font-size);
    line-height: var(--body-line-heigth);
}
