/* This component works as tabs on desktop and accordion on mobiles */

.climb {
    min-height: calc(100vh - var(--header-height) - var(--footer-height)); /* make climb section to be a full-screen */
    min-height: calc(100svh - var(--header-height) - var(--footer-height)); /* if browser supports svh, use it for better viewport stretching on mobile devices */
    display: flex;
    flex-direction: column;
    background-color: white;
}
    .climb__head {
        flex-shrink: 0;
        display: flex;
        align-items: center;
    }
        .climb__heading {
            padding-bottom: 12px;
            margin-left: calc(-1 * var(--inner-padding));
        }

        .climb__contains {
            max-width: 580px;
            padding-top: 14px;
            padding-bottom: 14px;
        }

    .climb__navigation {
        flex-shrink: 0;
        background-color: #404E6C;
    }
        .climb__navigation-wrap {
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
        }
            .climb__link {
                background-color: transparent;
                border: none;
                padding: 8px var(--inner-padding);
                font-family: var(--font-heading);
                font-size: 20px;
                line-height: 24px;
                color: #b0b4be;
                white-space: nowrap;
                text-transform: uppercase;
                text-underline-offset: 4px;
                text-decoration: underline;
                text-decoration-color: transparent;
                cursor: pointer;
                user-select: none;
                transition: background-color var(--transition-hover),
                            text-decoration-color var(--transition-hover),
                            color var(--transition-hover);
            }

            .climb__link:hover {
                background-color: rgb(175 180 190 / 20%);
            }

            .climb__link--current,
            .climb__link--current:hover {
                background-color: #AFB4BE;
                color: #414f6b;
                text-decoration-color: currentColor;
                cursor: default;
            }

    .climb__body {
        position: relative;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
        .climb__item {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            display: flex;
            min-height: 100%;
            visibility: hidden;
            opacity: 0;
            transition: opacity 600ms ease,
                        visibility 600ms ease;
        }

        .climb__item--current {
            position: relative;
            flex-grow: 1;
            visibility: visible;
            opacity: 1;
        }
            .climb__sub-heading {
                margin-top: 0;
                margin-bottom: 0;
                display: none;
            }
                .climb__handler {

                }

            .climb__dropdown {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
            }

            /* this element will be animated via jQuery on smartphones, so it has "display: none" in the DOM */
            /* On desktops we need "display: flex" with higher specificity */
            @media (740px <= width) {
                .climb__dropdown {
                    display: flex !important;
                }
            }
                .climb__strut {
                    position: relative;
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                }
                    .climb__background {
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                    }
                        .climb__image {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                    .climb__content {
                        position: relative;
                        padding-top: 6vh;
                        padding-bottom: 12vh;
                    }

                    @media (min-height: 900px) {
                        .climb__content {
                            padding-top: 10vh;
                            padding-bottom: 20vh;
                        }
                    }
                        .climb__schedule {

                        }



@media (width < 740px) {

    /* Rewrite tabs to accordion: */

    .climb {
        min-height: 480px;
        display: flex;
    }
        .climb__head {
            /*flex-shrink: 0;*/
            display: block;
            padding-top: 30px;
            padding-bottom: 30px;
            /*align-items: center;*/
        }
            .climb__heading {
                padding-bottom: 0;
                margin-left: -4px;
            }

            .climb__contains {
                margin-top: 20px;
                /*max-width: 580px;*/
                padding-top: 0;
                padding-bottom: 0;
            }

        .climb__navigation {
            display: none;
        }

        .climb__body {
            /*position: relative;*/
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
            .climb__item {
                position: static;
                /*left: 0;*/
                /*top: 0;*/
                /*right: 0;*/
                display: block;
                min-height: 0;
                visibility: visible;
                opacity: 1;
                /*transition: opacity 600ms ease,*/
                /*            visibility 600ms ease;*/
            }

            .climb__item--current {
                position: static;
                flex-grow: unset;
            }
                .climb__sub-heading {
                    /*margin-top: 0;*/
                    /*margin-bottom: 0;*/
                    display: block;
                }
                    .climb__handler {
                        width: 100%;
                        background-color: #404E6C;
                        border: none;
                        padding: 8px var(--inner-padding);
                        font-family: var(--font-heading);
                        font-size: 20px;
                        line-height: 24px;
                        color: #b0b4be;
                        white-space: nowrap;
                        text-transform: uppercase;
                        text-underline-offset: 4px;
                        text-decoration: underline;
                        text-decoration-color: transparent;
                        cursor: pointer;
                        user-select: none;
                        transition: background-color 200ms ease,
                                    text-decoration-color 200ms ease,
                                    color 200ms ease;
                    }

                    .climb__item--expanded .climb__handler {
                        background-color: #AFB4BE;
                        color: #414f6b;
                        text-decoration-color: currentColor;
                    }

                .climb__dropdown {
                    /*flex-grow: 1;*/
                    /*flex-direction: column;*/
                    /*position: relative;*/
                }

                .climb__item--expanded .climb__dropdown {

                }
                    .climb__strut {
                        flex-shrink: 0;
                        /*position: relative;*/
                        /*flex-grow: 1;*/
                        /*display: flex;*/
                        /*flex-direction: column;*/
                    }
                        .climb__background {
                            /*position: absolute;*/
                            /*left: 0;*/
                            /*top: 0;*/
                            /*right: 0;*/
                            /*bottom: 0;*/
                        }
                            .climb__image {
                                /*width: 100%;*/
                                /*height: 100%;*/
                                /*object-fit: cover;*/
                            }

                        .climb__content {
                            /*position: relative;*/
                            /*padding-top: 6vh;*/
                            /*padding-bottom: 12vh;*/
                        }

                        @media (min-height: 900px) {
                            .climb__content {
                                /*padding-top: 10vh;*/
                                /*padding-bottom: 20vh;*/
                            }
                        }
                            .climb__schedule {

                            }
}
