:root {
    --font-text: "Lato", sans-serif;
    --font-heading: "Oswald", sans-serif;
    --body-font-size: 16px;
    --body-line-heigth: 24px;
    --header-height: 74px;
    --footer-height: 74px;
    --inner-padding: 24px;
    --outer-padding: 48px;
    --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
    --transition-hover: 100ms ease;
    --transition-scroll: 200ms ease;
}


/* large smartphone, such as "max" or "plus" models */
@media (400px <= width < 740px) {

    :root {
        --outer-padding: 32px;
        --body-font-size: 15px;
        --body-line-heigth: 22px;
    }
}

/* basic smartphones */
@media (350px <= width < 400px) {
    :root {
        --outer-padding: 24px;
        --body-font-size: 15px;
        --body-line-heigth: 22px;
    }
}

/* small and legacy smartphones */
@media (width < 350px) {
    :root {
        --outer-padding: 16px;
        --body-font-size: 14px;
        --body-line-heigth: 20px;
    }
}
