:root {
    --font-text: "Lato", sans-serif;
    --font-heading: "Oswald", sans-serif;
    --body-font-size: 16px;
    --body-line-heigth: 24px;
    --header-height: 74px;
    --footer-height: 74px;
    --inner-padding: 24px;
    --outer-padding: 48px;
    --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
    --transition-hover: 100ms ease;
    --transition-scroll: 200ms ease;
}

@media (width < 750px) {

    :root {
        --outer-padding: 24px;
    }
}
