.header {
    --link-padding: 24px;
}

.header {
    position: fixed;
    z-index: 500;
    left: 0;
    top: 0;
    right: 0;
    height: var(--header-height);
    transition: background-color var(--transition-scroll);
}
    .header__wrap {
        height: 100%;
        display: flex;
        align-items: center;
    }
        .header__logo {
            vertical-align: top;
        }
            /* inside of SVG */
            .header__logo #emblem {

            }

            /* inside of SVG */
            .header__logo #text {
                opacity: 0;
                transition: opacity var(--transition-scroll);
            }

        .header__nav {
            margin-left: auto;
            margin-right: calc(-1 * var(--link-padding));
            display: flex;
            align-items: stretch;
            height: 100%;
        }
            .header__link {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: fit-content;
                padding-left: var(--link-padding);
                padding-right: var(--link-padding);
                font-weight: 900;
                font-style: italic;
                font-size: 12px;
                line-height: 20px;
                color: #FFFFFF;
                white-space: nowrap;
                text-transform: uppercase;
                text-decoration: none;
                user-select: none;
                transition: color var(--transition-scroll);
            }

            .header__link:hover {
                text-decoration-color: transparent;
            }
                /* hovering background */
                .header__link::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 14px;
                    bottom: 14px;
                    display: block;
                    border-radius: 4px;
                    transition: var(--transition-hover);
                }

                .header__link:hover::before {
                    background-color: rgb(255 255 255 / 20%);
                }


                /* hovering line */
                .header__link::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 28px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: calc(100% - 2 * var(--link-padding));
                    height: 1px;
                    background-color: currentColor;
                    transition: width 400ms var(--ease-out-quint);
                }

                .header__link:hover::after {
                    width: 0;
                }



.scrolled .header {
    background-color: #FFFFFF;
}
    .scrolled .header__wrap {
        /*height: 100%;*/
        /*display: flex;*/
        /*align-items: center;*/
    }
        .scrolled .header__logo {
            /*vertical-align: top;*/
        }
            /* inside of SVG */
            .scrolled .header__logo #emblem {

            }

            /* inside of SVG */
            .scrolled .header__logo #text {
                opacity: 100%;
            }

        .scrolled .header__nav {
            /*margin-left: auto;*/
            /*margin-right: calc(-1 * var(--link-padding));*/
            /*display: flex;*/
            /*align-items: stretch;*/
            /*height: 100%;*/
        }
            .scrolled .header__link {
                /*position: relative;*/
                /*display: flex;*/
                /*align-items: center;*/
                /*justify-content: center;*/
                /*width: fit-content;*/
                /*padding-left: var(--link-padding);*/
                /*padding-right: var(--link-padding);*/
                /*font-weight: 900;*/
                /*font-style: italic;*/
                /*font-size: 12px;*/
                /*line-height: 20px;*/
                color: #414f6b;
                /*text-transform: uppercase;*/
                /*text-decoration: none;*/
            }

            .scrolled .header__link:hover {
                /*text-decoration-color: transparent;*/
            }
                /* hovering background */
                .scrolled .header__link::before {
                    /*content: "";*/
                    /*position: absolute;*/
                    /*left: 0;*/
                    /*right: 0;*/
                    /*top: 14px;*/
                    /*bottom: 14px;*/
                    /*display: block;*/
                    /*border-radius: 4px;*/
                    /*transition: var(--transition-hover);*/
                }

                .scrolled .header__link:hover::before {
                    background-color: rgb(65 79 107 / 10%);
                }


                /* hovering line */
                .scrolled .header__link::after {
                    /*content: "";*/
                    /*position: absolute;*/
                    /*left: 0;*/
                    /*right: 0;*/
                    /*bottom: 28px;*/
                    /*display: block;*/
                    /*margin-left: auto;*/
                    /*margin-right: auto;*/
                    /*width: calc(100% - 2 * var(--link-padding));*/
                    /*height: 1px;*/
                    /*background-color: currentColor;*/
                    /*transition: width 400ms var(--ease-out-quint);*/
                }

                .scrolled .header__link:hover::after {
                    /*width: 0;*/
                }



@media (width < 740px) {

    .header {
        --link-padding: 16px;
    }

}


@media ( 380px <= width < 420px ) {

    .header {
        --link-padding: 10px;
    }

    .header__logo {
        margin-left: -10px; /* better alignment */
    }
}


@media ( width < 380px ) {

    .header__logo {
        width: 44px;
    }
        /* inside of SVG */
        .header__logo #text {
            display: none;
        }
}
