.history {
    display: flex;
    flex-direction: column;
    padding-top: 54px;
    height: calc(100% - var(--header-height)); /* make this section to be a fullscreen */
    min-height: 750px; /* also make sure it is not less than 750px. Otherwise background image will overlap text. */
    background-image: url("../images/history.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 30%;
}

@media (min-height: 900px) {
    .history {
        background-position: center center;
    }
}
    .history__article {

    }
        .history__heading {
            margin-left: calc(-1 * var(--inner-padding));
        }

        .history__contains {
            margin-top: -5px;
            margin-left: 48px;
            margin-right: 48px;
        }

    .history__gallery {
        margin-top: auto;
        background-color: rgb(65 79 107 / 80%);
    }
        .history__gallery-wrap {

        }
            .history__overflow {
                overflow: hidden;     /* cut .history__thumb spacing */
                padding-top: 20px;
                padding-bottom: 20px;
            }
                .history__strut {
                    margin-left: -5px;  /* .history__thumb inside will have "padding: 0 5px;" */
                    margin-right: -5px; /* .history__thumb inside will have "padding: 0 5px;" */
                }



/* Slick carousel (selectors are the same as in slick-theme.css */

.history__carousel {

}
    .history__carousel .slick-dots {
        margin-top: -5px; /* inner padding of tiles */
        margin-bottom: -20px; /* dots themselves have huge padding */
        padding-left: 0;
        list-style: none;
        display: flex;
        align-items: stretch;
        justify-content: center;
    }
        .history__carousel .slick-dots li {

        }
            .history__carousel .slick-dots li button {
                position: relative;
                width: 16px;
                height: 35px;
                padding: 0;
                border: none;
                background-color: transparent;
                text-indent: 200%;
                white-space: nowrap;
                overflow: hidden;
                cursor: pointer;
            }
                /* dot itself */
                .history__carousel .slick-dots li button::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 11px;
                    margin: auto;
                    display: block;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: rgb(255 255 255 / 20%);
                    transition: background-color var(--transition-hover);
                }

                .history__carousel .slick-dots li button:hover::before {
                    background-color: rgb(255 255 255 / 50%);
                }

                .history__carousel .slick-dots li.slick-active button::before {
                    background-color: rgb(255 255 255 / 100%);
                }

                /* hovering effect */
                .history__carousel .slick-dots li button::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 6px;
                    margin: auto;
                    display: block;
                    width: 16px;
                    height: 16px;
                    border-radius: 3px;
                    transition: background-color var(--transition-hover);
                }

                .history__carousel .slick-dots li button:hover::after {
                    background-color: rgb(255 255 255 / 20%);
                }


    /* single tile */
    .history__carousel .slick-slide {
        padding: 5px; /* left and right is needed to create a gap between tiles while top and bottom is needed to not to cut focus ring*/
        outline: none !important;
    }


/* inside of slick gallery */
.history__thumb {
    display: block;
}
    .history__image {
        width: 100%;
        aspect-ratio: 3 / 2;
        background-color: #FFFFFF;
    }



@media (width < 750px) {

    .history {
        /*display: flex;*/
        /*flex-direction: column;*/
        /*padding-top: 54px;*/
        /*min-height: calc(100% - var(--header-height)); !* make this section to be a fullscreen *!*/
        min-height: 650px; /* also make sure it is not less than 650px. Otherwise background image will overlap text. */
        background-image: url("../images/history-mobile.jpg");
        /*background-size: cover;*/
        /*background-repeat: no-repeat;*/
        /*background-position: center top;*/
    }
        .history__article {

        }
            .history__heading {
                margin-left: 0;
            }

            .history__contains {
                /*margin-top: -5px;*/
                margin-top: 20px;
                margin-left: 0;
                margin-right: 0;
            }

        .history__gallery {
            /*margin-top: auto;*/
            /*background-color: rgb(65 79 107 / 80%);*/
        }
            .history__gallery-wrap {

            }
                .history__overflow {
                    /*overflow: hidden;     !* cut .history__thumb spacing *!*/
                    /*padding-top: 20px;*/
                    /*padding-bottom: 20px;*/
                }
                    .history__strut {
                        /*margin-left: -5px;  !* .history__thumb inside will have "padding: 0 5px;" *!*/
                        /*margin-right: -5px; !* .history__thumb inside will have "padding: 0 5px;" *!*/
                    }



    /* Slick carousel (selectors are the same as in slick-theme.css */

    .history__carousel {

    }
        .history__carousel .slick-dots {
            /*margin-top: -5px; !* inner padding of tiles *!*/
            /*margin-bottom: -20px; !* dots themselves have huge padding *!*/
            /*padding-left: 0;*/
            /*list-style: none;*/
            /*display: flex;*/
            /*align-items: stretch;*/
            /*justify-content: center;*/
        }
            .history__carousel .slick-dots li {

            }
                .history__carousel .slick-dots li button {
                    /*position: relative;*/
                    /*width: 16px;*/
                    /*height: 35px;*/
                    /*padding: 0;*/
                    /*border: none;*/
                    /*background-color: transparent;*/
                    /*text-indent: 200%;*/
                    /*white-space: nowrap;*/
                    /*overflow: hidden;*/
                    /*cursor: pointer;*/
                }
                    /* dot itself */
                    .history__carousel .slick-dots li button::before {
                        /*content: "";*/
                        /*position: absolute;*/
                        /*left: 0;*/
                        /*right: 0;*/
                        /*top: 11px;*/
                        /*margin: auto;*/
                        /*display: block;*/
                        /*width: 6px;*/
                        /*height: 6px;*/
                        /*border-radius: 50%;*/
                        /*background-color: rgb(255 255 255 / 20%);*/
                        /*transition: background-color var(--transition-hover);*/
                    }

                    .history__carousel .slick-dots li button:hover::before {
                        /*background-color: rgb(255 255 255 / 50%);*/
                    }

                    .history__carousel .slick-dots li.slick-active button::before {
                        /*background-color: rgb(255 255 255 / 100%);*/
                    }

                    /* hovering effect */
                    .history__carousel .slick-dots li button::after {
                        /*content: "";*/
                        /*position: absolute;*/
                        /*left: 0;*/
                        /*right: 0;*/
                        /*top: 6px;*/
                        /*margin: auto;*/
                        /*display: block;*/
                        /*width: 16px;*/
                        /*height: 16px;*/
                        /*border-radius: 3px;*/
                        /*transition: background-color var(--transition-hover);*/
                    }

                    .history__carousel .slick-dots li button:hover::after {
                        /*background-color: rgb(255 255 255 / 20%);*/
                    }


        /* single tile */
        .history__carousel .slick-slide {
            /*padding: 5px; !* left and right is needed to create a gap between tiles while top and bottom is needed to not to cut focus ring*!*/
            /*outline: none !important;*/
        }


    /* inside of slick gallery */
    .history__thumb {
        /*display: block;*/
    }
        .history__image {
            /*width: 100%;*/
            /*aspect-ratio: 3 / 2;*/
            /*background-color: #FFFFFF;*/
        }
}
