.schedule {
    width: fit-content;
    padding: 26px 30px 24px 40px;
    background-color: rgb(255 255 255 / 70%);
}
    .schedule__heading {
        display: block;
        font-family: var(--font-heading);
        font-weight: bold;
        font-size: 32px;
        line-height: 32px;
        text-transform: uppercase;
        color: #414f6b;
    }

    .schedule__table {
        margin-top: 11px;
        vertical-align: top;
        border-collapse: collapse;
    }
        .schedule__body {

        }
            .schedule__row {
                border-top: 8px solid transparent;
            }

            .schedule__row:first-child {
                border-top: none;
            }
                .schedule__date {
                    vertical-align: top;

                }

                .schedule__event {
                    vertical-align: top;
                    max-width: 280px;
                    padding-left: 50px;
                }
