.wysiwyg {
    font-size: var(--body-font-size);
    line-height: var(--body-line-heigth);
}

.wysiwyg p {
    margin-top: var(--body-line-heigth);
    margin-bottom: var(--body-line-heigth);
}

.wysiwyg p:first-child {
    margin-top: 0;
}

.wysiwyg p:last-child {
    margin-bottom: 0;
}
